:root {
    --primary: cornflowerblue;
    --secondary: goldenrod;
    --tertiary: lilac;
    --dimension: 10px;
}

h1 {
    color: var(--primary)
}

ul li {
    color: var(--primary, blue)
}

#games {
    h4 {
        color: var(--secondary);
    }
    h5 {
        color: var(--primary)
    }
}

html {
    height: 100%;
}

/* body {
    min-height: 100%;
    background: linear-gradient(cornflowerblue, pink, violet )
} */


/*maintains og aspect ratio */
img {
    width: 100%;
    height: auto;
}

#flex {
    display:flex;
    height: 300px;
    flex-direction: row;
}

#div1 {
    background-color: cyan;
}
#div2 {
    background-color: pink;
}
#div3 {
    background-color: antiquewhite;
}

.square {
    --dimension: 100px;
    width: var(--dimension);
    height: var(--dimension);
}

header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ul {
        display:flex;
        list-style: none;

        li {
            margin-right: 10px;
        }
    }
}

.grid {
    display:grid;
    width: 37rem;
    height: 37rem;
    grid: repeat(3, 100px) / repeat(3, 100px)
    gap: 10;
    /* base font for browser is 16px, and 1 rem = 16px, so 1.5rem = 16*1.5 */
    /* 3 rows of 100 px, 3 colums of 100 px */

    #div1 {
        grid-row: 2;
        grid-column: 2;
    }

    #div2 {
        grid-row: 1;
        grid-column: span 3;
    }

    #div3 {
        grid-row: 3;
        grid-column: 2/-1; /* start at col 2, go to the end*/
    }
}

