/* check/remove fixed iframe widths/heights, experiment with image fixed widths */

:root {
    --box_color: #627a74;
    --box-opacity: 0.95;
    --space-between: 15px;
    --fel-green: #4bf720;
    --darker-fel-green: #56d615;
    --video-height: 288px;
    --video-width: 512px;
    --border-colour: #4c5955;
    --border-type: ridge;
    --border-size: 4px;
}

body {
    min-height: 100%;
    /* background-image: url("./images/lighter-paper-bg.jpg"); */
    background-image: url("./images/news-page-bg.jpg");
    width: 100%;
    height: auto;
    overflow-x: hidden;
}


html {
    scroll-behavior: smooth;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--box_color);
    opacity: var(--box-opacity);
    margin-top: var(--space-between);
    margin-bottom: var(--space-between);
    margin-left: 10px;
    margin-right: 25px;
    border: var(--border-colour) var(--border-size) var(--border-type);
    overflow-x: hidden;
}

.page-header title{
    overflow-x: hidden;
    margin-right: 20px;
    height: fit-content;
    padding: 1px;
}

.page-header img {
    height: 50px;
    width: auto;
    padding: 2px 2px;
} 

.page-nav nav {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: var(--box_color);
    opacity: var(--box-opacity);
    border: var(--border-colour) var(--border-size) var(--border-type);
    margin-left: 10px;
    margin-right: 25px;
    overflow-x: hidden;
}

.page-nav nav ul {
    display: flex;
    list-style: none;
    gap:15px;
    font-size: large;
    color: black;
    
}

div.page-nav ul a {
    color: black;
}

div.page-nav ul a:hover{
    color: var(--fel-green);
}

.page-nav h3 {
    margin-right: 10px;
}

.layout {
    display:flex;
    gap: 0;
    min-height: 100vh;
    justify-content: space-between;
}

div.sidenav {
    height:100%;
    width:240px;
    position:sticky;
    z-index:1;
    top:0;
    left:0;
    background-color: var(--box_color);
    padding: 20px 20px 20px 20px;
    vertical-align: top;
    opacity: var(--box-opacity);
    margin-top: 20px;
    border: var(--border-colour) var(--border-size) var(--border-type);
    margin-left: 10px;
}

div.sidenav a {
    padding: 6px 8px 2px 2px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: black;
}

div.sidenav a:hover {
    color:var(--fel-green)
}

div#home-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

img#wow-old-logo {
    width: 400px;
    height: auto;
}

section.articles {
    margin-left: 80px;
    vertical-align: top;
    background-color: var(--box_color);
    opacity: var(--box-opacity);
    margin-right: 100px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: auto;
}

section.articles section {
    padding-top: 20px;
}

section.articles a {
    color: var(--darker-fel-green)
}

section.articles {
    border: var(--border-colour) var(--border-size) var(--border-type);
}

iframe#tl-youtube-wf {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    border: none;
    height: 1px;
    background-color:var(--fel-green);
    border-radius: 2px;
}

.current-patch {
    text-decoration: none;
    color: rgb(50, 216, 17);
}

.current-patch a:hover {
    color:var(--fel-green)
}

/* Reviews Page */

section.articles iframe {
    min-width:var(--video-width);
    min-height:var(--video-height);
    display: flex;
    justify-content: center;
    border: var(--border-colour) solid 2px;
    overflow-x: hidden;
    margin: 0px;
}

div#legion-two-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
}

h4.rating {
    display: flex;
    justify-content: center;
}

#top-button {
    position: fixed;
    bottom: 20px;
    left:20px;
    z-index: 99;
    color: var(--darker-fel-green);
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    font-size: 18px;
    background-color: black;
    opacity: 0.6;
}

#top-button:hover {
    background-color: var(--fel-green);
}

img#logo {
    width:175px;
    height: auto;
}

img#classic-timeline {
    width:800px;
    height:auto;
    display: block;
}

div.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}
/* 
blockquote {
    margin-left: 100px;
    margin-right: 100px;
} */

footer a {
    color: var(--fel-green);
}

/* Contacts Section */

section#main-contact-section {
    background-color: var(--box_color);
    padding: 20px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    overflow-x: auto;
}

div.scroll-container { 
    background-color: var(--box_color);
    opacity: var(--box-opacity);
    overflow-x: hidden;
    /* overflow-y: auto; */
    /* padding: 10px; */
    margin-right: 25px;
    border: var(--border-colour) var(--border-size) var(--border-type);
    margin-top: 20px;
    height: min-content;
}

section#image-gallery {
    background-color: var(--box-color);
    padding: auto;
    display: grid;
    column-gap:10px;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}



div.scroll-container img {
    width: 200px;
    height: auto;
    padding-right: 12px;
    display: block;
    border-radius: 6px;
}

section#image-gallery img:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    opacity: black 0.9;
}

.modal-content {
    margin:auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: var(--fel-green);
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

div.about-us {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    border: var(--border-colour) var(--border-type) var(--border-size);
    opacity: var(--box-opacity);
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--fel-green);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4bf720;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--darker-fel-green);
}

.container {
    border-radius: 5px;
    background-color: darkslategrey;
    padding: 20px;
}

div#main-godilla-pic img {
    border: ridge var(--border-colour) 2px;
    max-width: 100%;
    max-height: auto;
    overflow-x: scroll;
}
